	<hr>
	
	<footer>
        <p class="text-center"><small>&copy; 2013 by MyCompany</small></p>
    </footer>
      
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap/2.3.1/js/bootstrap.min.js"))'></script>
    
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap-datepicker.js"))'></script>
    <!--<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("js/locales/bootstrap-datepicker.de.js"))'></script>-->
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap-timepicker.min.js"))'></script>
    
    